body {
  text-align: center;
  background-color: white;
}
.container-fluid {
  padding: 3% 15%;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "ubuntu";
}
.title {
  text-align: left;
}
.quote {
  font-family: "Montserrat-Black";
  line-height: 1.5;
  font-size: 3.5rem;
}
.noQuotesBox {
  padding: 4.5rem;
}
.cartext {
  font-size: 3rem;
  line-height: 1.5;
}
.img {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}
.download {
  text-align: left;
  margin: 5% 3% 5% 0;
}
.nq {
  background-color: white;
  width: 100%;
}
.icon {
  color: black;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #dd1818;
}
.cb {
  color: black;
}
.cardtitle {
  font-size: 3rem;
  line-height: 1.5;
}
.card-footer {
  padding: 20px;
}
.cardpadding {
  padding: 3% 2%;
}
.first_section {
  background: linear-gradient(to right, #333333, #dd1818);
  color: white;
}
@media (max-width: 1000px) {
  .timg {
    display: none;
  }
}
